.card {
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
}

.card pre {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    align-content: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.header h4 {
    display:flex;
    margin-top: 5px;
    margin-left: 5px;
}